/* styles.css */

body {
    background-color: #15193b; /* Dark blue background */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #f0f0f0; /* Light text color */
}

h1 {
    font-size: 2.8em;
    margin-bottom: 1em;
    text-align: center;
    color: #f0f0f0; /* White heading color */
}

label {
    color: #f0f0f0; /* White label color */
}

input, select {
    width: calc(100% - 24px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #374785; /* Dark blue border color */
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #1e2857; /* Dark blue input background */
    color: #f0f0f0; /* Light text color for input */
}

button {
    background-color: #374785; /* Darker blue button background color */
    color: #f0f0f0; /* White button text color */
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4e5b96; /* Slightly lighter blue on hover */
}

.formfield {
    border: 1px solid #374785; /* Dark blue border color */
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #1e2857; /* Dark blue background for form */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Darker shadow */
}

form {
    max-width: 500px;
    margin: 0 auto;
}

.result {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
}
